<!DOCTYPE html>
<html lang="en">
<ead>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/main.css" type="text/css"
    rel="stylesheet" th:href="@{/css/main.css}"
    media="screen,projection">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
    <title>AppLab CRUD</title>
</head>
<div>
    <div="document">
        <div class="sidenav">
            <div class="logo">
                GLI
            </div>
            <a th:href="@{admin}"><i class="fa fa-user" aria-hidden="true"></i> Administradores</a>
            <a th:href="@{catalogos}"><i class="fa fa-clipboard" aria-hidden="true"></i> Catalogos</a>
            <a th:href="@{lideres}"><i class="fa fa-users" aria-hidden="true"></i> Lideres</a>
            <a th:href="@{usuarios}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Usuarios</a>
            <a th:href="@{empresa}"><i class="fa fa-users" aria-hidden="true"></i> Mi Empresa</a>
            <a th:href="@{cursos}"><i class="fa fa-book" aria-hidden="true"></i> Cursos</a>
            <a th:href="@{rewards}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Recompensas</a>
            <a th:href="@{eventos}"><i class="fa fa-calendar" aria-hidden="true"></i> Eventos</a>
            <a th:href="@{notifications}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notificaciones</a>
            <a th:href="@{reportes}"><i class="fas fa-clipboard    "></i> Reportes</a>
            <div class="sidebar-foot">
                <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright GLI 2021</p>
            </div>         
        </div>
        <div class="topnav">
            <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="account"> Administrator </a>
            <a href="/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i></a>
        </div>

        <div class="principal">
        	<div class="rutes">
                <h4 for="" >Inicio </h4><h4 class="catacol" for="">>  Administradores</h4>
            </div>
			<h3 class="title"> Perfil de Administrador </h3>
        	<div class="details">
            	<div th:object="${admin}">
            		<div class="present">
	            		<img style="width: 8%;" th:src="@{/img/user.png}">
	            		<label class="subA" th:text="${admin.name}"></label> 
            		</div >
            		<div class="grideado" >
            		
	            		<div class="car">
		            		<div><label class="titleA">Nombre(s):  </label> </div>
		            		<div><label class="subA" th:text="${admin.name}"></label> </div>
	            		</div >
	            		<div class="car">
		            		<div><label class="titleA">Apellido(s):  </label> </div>
		            		<div><label class="subA" th:text="${admin.lastname}"></label> </div>
	            		</div>
	            		<div class="car">
		            		<div><label class="titleA">Correo Electronico:  </label> </div>
		            		<div><label class="subA" th:text="${admin.mail}"></label> </div>
	            		</div >
	            		<div class="car">
		            		<div><label class="titleA">Area:  </label> </div>
		            		<div><label class="subA" th:text="${admin.area}"></label> </div>
	            		</div >
	            		<div class="car">
		            		<div><label class="titleA">Rol:  </label> </div>
		            		<div><label class="subA" th:text="${admin.role}"></label> </div>
	            		</div >
	            		<div class="car">
		            		<div><label class="titleA">Estatus(s):  </label> </div>
		            		<div><label class="subA" th:text="${admin.status ? 'Activo' : 'Inactivo'}"></label> </div>
	            		</div >
            		</div>
            		<div class="btnEdit"> 
            			<a class="btn btn-primary"th:href="@{../edit/} + ${admin.admin_id}"> Editar Admin</a >
            		</div >
            	</div  >
        	</div >
        </div>

    </div>
</body>
</html>